*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.quiz-box{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20PX 30px;
    background-color: white;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.question{
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 5px 4px 10px 1px;
    border-radius: 8px;
    font-family: "Archivo", sans-serif;
    font-size: larger;
    font-weight: bold;
}
.options{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.btn-option{
    width: 70%;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.checked{
    background-color: rgb(68, 68, 178);
    color: white;
}

.btn-option:hover{
  background-color: lightblue;
}

.next{
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: green;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
.start{
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    color: white;
    background-color: crimson;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}